@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
*,
*::before,
*::after { box-sizing: border-box; }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    background-color: black;
}

.main2{
    background-image: url("assets/images/bg.jpg");
    height: 100vh;
    position: relative;
    background-position: center center;
    background-size: max(1200px,100vw);
    background-repeat: no-repeat;
}
.layer{
    background-color:rgb(0,0,0,0.77);
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}
.logo{
    background-color: transparent;
    display: flex;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding-top: 25px;
}
.logo img{
    color:#E50914;
    width: 145px;
    position: relative;
}
.signin-box{
    background-color:black;
    width: 400px;
    height: 470px;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
    position: relative;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.signin-box::after,.signin-box::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    inset: -5px;
    background:conic-gradient(from var(--angle),transparent ,red,orange,red,yellow,red,orange);
    border-radius: 10px;
    padding: 5px;
    z-index: -1;
    animation: 3s spin linear infinite;
    
}
.signin-box::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin {
    from{
    --angle:0deg;
    }
    to{
    --angle:360deg;
    }
}
form{
    padding-top: 10px;
}
 .signin-box form :nth-child(1){
    color: #f4f4f4;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
    padding-left: 30px;
   
}
.signin-box form :nth-child(2) {
   height: 50px;
   width: 350px;
   margin-left: 30px;
   margin-top: 10px;
   border: 1px solid whitesmoke;
   background-color: transparent;
   border-radius: 5px;

}
.signin-box form :nth-child(3) {
   height: 50px;
   width: 350px;
   margin-left: 30px;
   margin-top: 10px;
   border: 1px solid whitesmoke;
   background-color: transparent;
   border-radius: 5px;
   font-size: 20px;
   padding: 10px;

}
.signin-btn {
    height: 50px;
   width: 350px;
   margin-left: 30px;
   margin-top: 10px;
   background-color: #e50914;;
   border-radius: 5px;
   border: none;
    color: #f4f4f4;
    font-size: 20px;
    font-weight:bold;
    cursor: pointer;
}
.signin-btn:hover{
    background-color: #c40812;
}
.or{
color: #f4f4f4;
   margin-left: 190px;
   margin-top: 10px;

}
.signin-code{
    height: 50px;
   width: 350px;
   margin-left: 30px;
   margin-top: 10px;
   background-color: #333;
   border-radius: 5px;
   border: none;
    color: #f4f4f4;
    font-size: 20px;
    font-weight:bold;
    cursor: pointer;
}
.signin-code:hover{
    background-color: #444;
}
.password{
   margin-left: 145px;
   margin-top: 10px;
   color: #f4f4f4;
}
.checkbox{
    margin-left: 30px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.remember{
    color: #f4f4f4;
    margin-left: 55px;
    margin-top: -20px;
    
}
.new-to-netflix{
    color: #f4f4f4;
    margin-top: 10px;
    margin-left: 30px;
    display: inline-block;
}
.sign-up{
    color: #f4f4f4;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}
.sign-up:hover{
    text-decoration:underline;
}
#sign-in{
    color:#f4f4f4;
    padding: 10px;
    font-size: 20px;
}
#password{
    color: #f4f4f4;
}  
