@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url("assets/images/bg.jpg");
    height: 95vh;
    position: relative;
    background-position: center center;
    background-size: max(1200px,100vw);
    background-repeat: no-repeat;
    
}
.main .box{
    height:100vh;
    width: 100%;
    opacity: 0.77;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    height: 65px;
    padding-top: 25px;
}
nav img{
    color:#E50914;
    width: 145px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color:#F4F4F4;
    position: relative;
    font-family: "Netflix Sans", sans-serif;
    z-index: 13;
    
}
.hero span:first-child{
    font-weight:900;
    font-size: 50px;
     color:#F4F4F4;
}

.hero span:nth-child(3){
    font-weight: bold;
    font-size: 25px;
}
.sign_bt{
    width: 80px;
    height: 35px;
    color:#F4F4F4;
    background-color:#E50914;
    border:none;
    border-radius:5px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
    cursor: pointer;

}
.sign-in{
    color: #F4F4F4;
    text-decoration: none;
}
.sign_bt:hover{
   background-color: #c40812;
}
.lang{
    width: 130px;
    height: 35px;
    background-color: transparent;
    color: #F4F4F4;
    border:1px solid #F4F4F4;
    border-radius:5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.hero span:nth-child(7){
    height: 55px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.email{
    font-size: 15px;
    color:#F4F4F4;
    height: 50px;
    width: 400px; 
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #F4F4F4;
    background-color: rgba(50, 48, 48, 0);
    
    
}
.sum-btn{
    height: 50px;
    width: 200px; 
    border-radius: 5px;
    border: none;
    background-color: #E50914;
    color: #F4F4F4;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    
}
.sum-btn:hover{
     background-color: #c40812;
}
input::placeholder{
    padding: 10px;
    font-size: 20px;
}
.movies{
    background-color: black;
    min-height: 100vh;
    width: 100%;
    
}

.movies-list{
    width: 80%;
    height:50vh;
    background-color:#000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    scroll-behavior: smooth;
    margin: auto;
    

}
.movies .movies-list::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;  
}

.movies .movies-list  img{
    margin: 10px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    
}
img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
h3{
    color: #F4F4F4;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 650px;
    z-index: 10;
    left: 125px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.trend-line{
    width: 100%;
    height: 30px;
   background:transparent;
}
.trend-line svg{
    width: 100%;
    height: 100%;
   
}
.trend-line svg path{
    stroke: #E50914;
    stroke-width: 20px;
    fill: none;
    filter: drop-shadow(0px 10px 10px rgba(0,80,255,0.8));
}
.join-msg{
   width: 100%;
   height: 45vh;
   display: flex;
   justify-content: space-around;
   align-items: center;
   position: relative;
}
.join-msg div h3{
    position: absolute;
    top: -30px;
    color: #F4F4F4;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.join-msg div{
    width: 80%;
    height: 40vh;
    display: flex;
   justify-content: space-around;
   align-items: center;
}
.join-msg div div{
    background:linear-gradient(to bottom right,#1a2042,#1b1b38,#1d1529,#21101a,#21101a);
    margin: 5px;
    border-radius: 20px;
    width: 500px;
    height: 240px;
    position: relative;
}
.join-msg div div h2{
    color: #f4f4f4; 
    font-size: 19px; 
    font-weight: bolder;
    position: absolute;
    top: 20px;
    left: 10px;
}
.join-msg div div p{
    color: gray; 
    position: absolute;
    top: 55px;
    left: 10px;
    font-weight: bold;
    font-size: 15px;
}
.FAQ{
    width: 80%;
    height: 550px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.FAQ h3{
    position: absolute;
    color: #f4f4f4;
    top: 0px;
    left: 0px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.FAQ div{
    width: 100%;
    height: 150px;
    background-color: #3d3d3d;
    margin: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
}
.FAQ  div h4{
    color:#F4F4F4;
    font-size: 20px;
}
.again-signup{
    width: 100%;
    height: 200px;
    padding: 45px;
}
.again-signup p{
    color: #F4F4F4;
    margin-left: 300px;
}
.again-signup input{
    margin-left: 250px;
    margin-top: 15px;
    width: 400px;
}
.again-signup button{
    margin-top: 15px;
}
footer{
    width: 80%;
    height: 350px;
    display: flex;
    justify-content: space-around;
   
    margin: auto;
    
}
footer div{
    width: 24%;
    height: 100px;
   
}
footer div p{
    color:gray;
}
footer div p a{
    color: gray;
    font-size: 12px;
    font-weight: bold;
}

